.row
  %h1 Job:

%h3  
  .row
    #{job.title}
  .row
    #{job.company}
  .row
    #{job.requirements}
  .row
    #{job.salary}
  .row
    #{job.starts_at}

.row
  %h1 User:

%h3
  .row
    #{user.firstname}
    #{user.lastname}
  .row
    #{user.gender}
  .row
    #{user.phone}
    #{user.email}

.row
  %h2 Message:

%h3
  .row
    =message

  = simple_form_for model, :url => {:action => "update"} do |f|
    .row
      = f.select :status, options_for_select(["Hire", "Rejected"]), placeholder: "Status", label: false
      = f.submit nil, class: 'warning button'
  