%main{:role => "main"} 

.row
  %h3
    Search Job

= form_tag controller: :jobs, action: :search  do
  .row
    Keyword:
    = text_field_tag :keyword
  .row
    = submit_tag "Search"

.row
  %h3
    There are #{total} jobs in total.
.row
  %ul.mobile-list
    = cell("job/cell/item", collection: model)