%h1 Create Job

= simple_form_for model do |f|
  = f.input :title
  = f.input :company
  = f.input :requirements
  = f.input :description
  = f.input :salary
  = f.input :starts_at, as: :datepicker
  = f.submit
