%h1
  = title
  = company
  = salary
  = starts_at #change format here strftime(%d/%m/%y: %H:%M:%S %Z)?
.row
  %h1
    = title
    = company
    = requirements
    = description
    = salary
    = starts_at #change format here strftime(%d/%m/%y: %H:%M:%S %Z)?
