.row.job
  .row
    .title
      = title

  .row
    -unless company == nil
      .my-label
        Company: 
      .my-text
        = company
    .my-label
      Job description:
    .my-text
      = simple_format(description, :class => 'my-text')
  .row
    -unless salary == nil  
      .my-label
        Salary:
      .my-text
        = salary
    .row
      .small-6.columns
        .my-label
          Starts at:
        .my-text
          = starts_at.strftime("%A - %d/%m/%Y at %H:%M")
      .small-6.columns
        .my-label
          Ends at:
        .my-text
          = ends_at.strftime("%A - %d/%m/%Y at %H:%M")
    .my-label
      Requirments:
    .my-text
      = simple_format(requirements,  :class => 'my-text')

  - if policy.admin?
    .small-6.columns
      .my-label
        Position to fill: 
      .my-text
        = user_count
    .small-6.columns
      .my-label
        Position fulfilled: 
      .my-text
        = JobApplication.where("job_id = ? AND status = ?", id, "Hire").size
    .row.small-5.small-centered.columns.text-center
      = link_to "Edit", edit_job_path(model), class: 'warning button'
      = link_to "Delete", job_path(model), method: :delete, class: 'alert button', data: {confirm: "Are you sure?"}
  - else
    = form_tag "/job_applications" do
      = hidden_field_tag :user_id, policy.user.id
      = hidden_field_tag :job_id, id
      = hidden_field_tag :status, "Apply"     
      .row
        .my-label
          Message:
        .my-text
          = text_area_tag :message
      .row.small-5.small-centered.columns.text-center
        = submit_tag "Apply", class: 'success button'

  - if policy.admin?
    .my-label
      #{label}
      %ul.mobile-list
        = cell("job/cell/applicants", collection: users)