%h1
  = title
  = company
  = salary
  = starts_at #change format here strftime(%d/%m/%y: %H:%M:%S %Z)?

  = form_tag "/job_applications" do
    = hidden_field_tag :user_id, policy.user.id
    = hidden_field_tag :job_id, id
    Message:
    = text_field_tag :message
    = submit_tag "Apply" #TODO flash message "You have applied for that job"
