-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
%nav.top-bar{"data-topbar" => true}
  %ul.title-area
    %li.name
      = link_to 'Home', root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        Menu
  .top-bar-section
    %ul
      %li
        = link_to "Jobs", jobs_path
      
      - if policy.admin?
        %li
          = link_to "Users", users_path
        %li
          = link_to "Create Job", new_job_path

      - if tyrant.signed_in?
        %li
          = link_to "Hi, #{tyrant.current_user.firstname}", user_path(tyrant.current_user)
        %li
          = link_to "Sign Out", sign_out_sessions_path
      - else
        %li
          = link_to "Create User", new_user_path
        %li
          = link_to "Sign In", new_session_path

