%h1 Create User

= simple_form_for model do |f|
  .row
    = f.input :firstname
  .row
    = f.input :lastname
  .row
    = f.select :gender, options_for_select(["Male", "Female", "You"])
  .row
    = f.input :email
  .row
    = f.input :phone
  .row
    = f.input :password
  .row
    = f.input :confirm_password
  .row
    = f.submit
