%h1 Create User

= simple_form_for model do |f|
  .row
    = f.input :firstname, placeholder: "Firstname", label: false
  .row
    = f.input :lastname, placeholder: "Lastname", label: false
  .row
    = f.select :gender, options_for_select(["Male", "Female", "You"]), placeholder: "Gender", label: false
  .row
    = f.input :age, placeholder: "Age", label: false
  .row
    = f.input :email, placeholder: "Email", label: false
  .row
    = f.input :phone, placeholder: "Phone", label: false
  .row
    = f.input :password, placeholder: "Password", label: false
  .row
    = f.input :confirm_password, placeholder: "Confirm Password", label: false
    = f.input :block, :as => :hidden, :value => false
  .row
    = f.input :profile_image, :as => :file
  .row
    = f.submit nil, class: 'success button'
