.row
  %h1 Create User

.row.user
  = simple_form_for model do |f|
    .row
      .small-6.columns
        = f.input :firstname, placeholder: "Firstname", label: false
      .small-6.columns
        = f.input :lastname, placeholder: "Lastname", label: false
    .row
      .small-6.columns
        = f.select :gender, options_for_select(["Male", "Female", "You"]), placeholder: "Gender", label: false
      .small-6.columns
        = f.input :age, placeholder: "Age", label: false
    .row
      .small-6.columns
        = f.input :email, placeholder: "Email", label: false
      .small-6.columns
        = f.input :phone, placeholder: "Phone", label: false
    .row
      .small-6.columns
        = f.input :password, placeholder: "Password", label: false
      .small-6.columns
        = f.input :confirm_password, placeholder: "Confirm Password", label: false
    .row
      .small-6.columns
        = f.input :profile_image, as: :file
      .small-6.columns
        = f.input :cv, as: :file
      = f.input :block, :as => :hidden, :value => false
    .row.small-5.small-centered.columns.text-center
      = f.submit nil, class: 'success button'

