<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:name => "viewport", :content => "width=device-width"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "assets/stylesheets/foundation-emails.css"}
    
    %table{align: "center", class: "container"}
      %tbody
        - if hired?
          %h6
            %tr
              %td
                Dear #{user.firstname},
            %tr
              %td
                I'm glad to inform you that you have been selected for the role of #{job.title}.


        - else
          %h6
            %tr
              %td
                Dear #{user.firstname},
            %tr
              %td
                Unfortunately you haven't been selected for the role of #{job.title}.
            %tr
              %td
                Have a great day

      %footer
        = cell('mailer/cell/footer')
