.row.job
  %h1 Job:
  .title
    #{job.title}

  -unless job.company == nil
    .my-label
      Company: 
    .my-text
      #{job.company}
  .my-label
    Job description:
  .my-text
    #{job.description}

  -unless job.salary == nil  
    .my-label
      Salary:
    .my-text
      #{job.salary}

  .small-6.columns
    .my-label
      Starts at:
    .my-text
      #{job.starts_at.strftime("%A, %d.%m.%Y at %H:%M")}
  .small-6.columns
    .my-label
      Ends at:
    .my-text
      #{job.ends_at.strftime("%A, %d.%m.%Y at %H:%M")}

  .small-6.columns
    .my-label
      Position to fill: 
    .my-text
      #{job.user_count}
  .small-6.columns
    .my-label
      Position fulfilled: 
    .my-text
      = JobApplication.where("job_id = ? AND status = ?", job.id, "Hire").size
  .my-label
    Requirments:
  .my-text
    #{job.requirements}

.row.user
  %h1 User:
  .row.title
    - if user.image.exists? 
      %a{href: user.image[:original].url, data: { lightbox: "image", title: "Profile image" }}
        %img{src: user.image[:thumb].url, class: "profile_image"}
    #{user.firstname}
    #{user.lastname}
  .small-6.columns
    .my-label
      Gender:
    .my-text
      #{user.gender}
  .small-6.columns
    .my-label
      Age:
    .my-text
      #{user.age}
  .small-6.columns
    .my-label
      Phone:
    .my-text
      #{user.phone}
  .small-6.columns
    .my-label
      Email:
    .my-text
      #{user.email}
  .my-label
    Message:
  .my-text
    =message
  #{link_cv}

= simple_form_for model do |f|
  .row.small-1.small-centered.columns.text-center
    = f.select :status, options_for_select(["Hire", "Reject"]), placeholder: "Status", label: false
    / = f.hidden_field :id, model.id
  .row.small-5.small-centered.columns.text-center
    = f.submit nil, class: 'warning button', data: {confirm: "Are you sure?"}