.row.job
  %h1 Job:
  .title
    #{job.title}

  -unless job.company == nil
    .my-label
      Company: 
    .my-text
      #{job.company}
  .my-label
    Job description:
  .my-text
    = simple_format(job.description, :class => 'my-text')
  .my-label
    Applicant Requirements:
  .my-text
    = simple_format(job.requirements, :class => 'my-text')

  -unless job.salary == nil  
    .my-label
      Salary:
    .my-text
      #{job.salary}

  .small-6.columns
    .my-label
      Starts at:
    .my-text
      #{job.starts_at.strftime("%A, %d.%m.%Y at %H:%M")}
  .small-6.columns
    .my-label
      Ends at:
    .my-text
      #{job.ends_at.strftime("%A, %d.%m.%Y at %H:%M")}
  .my-label
    Message:
  .my-text
    =message
  .my-label
    Status:
  .my-text
    = status
  .row.small-1.small-centered.columns.text-center
    = link_to "Delete", job_application_path(model), method: :delete, class: 'alert button', data: {confirm: "Are you sure?"}