/ this file is NOT USED as we use Promo::Cell::Layout for the application container rendering.
!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Promo'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = concept "rails_foundation/cell/navigation"
    %main{:role => "main"}
      = yield
